body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
}


h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

button {
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
}

a {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

li {
    margin: 0;

}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}


/* Navigation header */
.navigation {
    border-bottom: 1px solid #e7e9fc;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #4d5ae5;
}

.logo-header {
    color: #2e2f42;
    padding: 24px 0;
    margin-right: 76px;
}

.nav-panel {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 332px;
}


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* S1: Title card */

.title-section {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
    line-height: 1.07;
    padding: 188px 0;
}

.title {
    max-width: 496px;
    margin-bottom: 48px;
}

.title-button {
    background: #4d5ae5;
    color: inherit;
    padding: 0;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

/* S2: Positives section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);


}

.positives-list {
    display: flex;
    gap: 24px;
}

.positives-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.positives-title {
    margin-bottom: 8px;
}

/* S3: Team section */

.team-section {
    background: #f4f4fd;

}

.team-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-member {
    background: #FFFFFF;
}

.team-member-container {
    padding: 32px 0;
}

.team-member-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.team-member-text {
    text-align: center;
}

/* S4: Portfolio section */

.portfolio-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 24px * 2) / 3);

}

.portfolio-text-container {
    background-color: #E7E9FC;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text-title {
    margin-bottom: 8px;
}

/* Footer */


.footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
    color: #f4f4fd;
}

footer p {
    color: #f4f4fd;
}